<div style="background-color:rgb(133, 185, 238) ; width: auto; height: 500px;">
<p align="center">LOGIN FORM</p>
<table align="center" cellspacing="6" cellpadding="6">
    
    <tr>
        <td>User name</td>
        <td><input type="text" name="loginName"></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input type="password" name="Password"></td>
    </tr>
    <tr>
        <td>
            
                <input type="submit" value="login"/>
                <input type="reset" value="Reset"/>
            
            
        </td>
    </tr>
    
</table>
</div>
