<div style="background-color:rgb(133, 185, 238) ; width: auto; height: 500px;">
    <p align="center">product details</p>
    <table align="center" cellspacing="6" cellpadding="6">
        
        <tr>
            <td>product name</td>
            <td><input type="text" name="productname"></td>
        </tr>
        <tr>
            <td>productId</td>
            <td><input type="text" name="productId"></td>
        </tr>
        <tr>
            <td>quantity of the product</td>
            <td><input type="text" name="quantity"></td>
        </tr>
        <tr>
            <td>color</td>
            <td><input type="text" name="color"></td>
               
                
                
            
        </tr>
        <tr>
            <td>phone no</td>
            <td><input type="text" name="phoneno"></td>
        </tr>
        <tr>
            <td>address</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <input type="submit" value="submit"/>
        </tr>
        
        
        
    </table>
    </div>
    
