
   <div style="background-color: rgb(154, 154, 247);width:auto;height: 500px;">
    <p align="center">REGISTER FORM</p>
<table align="center" cellspacing="6" cellpadding="6">
   
    <tr>
        <td>User name</td>
        <td><input type="text" name="loginName"></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input type="password" name="Password"></td>
    </tr>
    <tr>
        <td>customer name</td>
        <td><input type="text" name="customername"></td>
    </tr>
    <tr>
        <td>confirm password</td>
        <td><input type="password" name="Password"></td>
           
            
            
        
    </tr>
    <tr>
        <td>e-mail</td>
        <td><input type="email" name="email"></td>
    </tr>
    <tr>
        <input type="submit" value="submit"/>
    </tr>
    
    
    
</table>
</div>


    
    
        
            
       
